@model IEnumerable<BlogProject.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<nav style=" margin-top: 50px; margin-bottom: 20px;">
    <a class="navlink" style="margin-right: 30px;" href="/Teacher/New">New Teacher</a>
</nav>
<p>This page should be showing information about all Teachers</p>
<form action="/Teacher/List" method="get">
    <input type="text" name="SearchKey" />
    <input type="submit" value="search" />
</form>


@foreach (var teacher in Model)
{
    <div><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>


}